<%- include("../partials/header") %>
<header class="jumbotron">
  <div class="container">
    <h1>Welcome To BorkBook!</h1>
    <p>View our hand-picked posts from all over the world</p>
    <p>
      <a class="btn btn-primary btn-large" href="/posts/new">Add a new post</a>
    </p>
  </div>
</header>

<div class="container mb-4">
  <div class="row">
    <form class="form-inline" action="/posts" method="GET">
      <div class="form-group">
        <input class="form-control mr-3" type="text" name="search" placeholder="Search posts..." />
        <input class="btn btn-secondary" type="submit" value="Search" />
      </div>
    </form>
  </div>
</div>



<div class="row">
  <% posts.forEach((post)=>{ %>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="<%= post.image %>" class="bd-placeholder-img card-img-top" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" aria-label="post image"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></img>
        <div class="card-body">
          <h2><%= post.name %></h2>
          <p class="card-text"><%= post.description %></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="/posts/<%= post._id %>" class="btn btn-sm btn-primary" target="_blank"> View </a>
              <button class="btn btn-sm btn-info" type="button">
                <i class="fas fa-thumbs-up"></i> <%= post.likes.length %>
              </button>
            </div>
            <small class="text-muted"><%= moment(post.createdAt).fromNow() %></small>
          </div>
        </div>
      </div>
    </div>
  <% }); %>
</div>



<%- include("../partials/footer") %>
